extends /_include/_layout
append variables
  - var directory ='/'
block css
block js

block body
  main
    h1 画像切り替えSample

    .img-group#js-group
      .img-change.js-img.is-active
        .img-wrap
          img(src="./assets/img/img01.jpg", alt="")
      .img-change.js-img(style="background-image: url(./assets/img/img01.jpg)")
        .img-wrap
          img(src="./assets/img/img02.jpg", alt="")
      .img-change.js-img(style="background-image: url(./assets/img/img02.jpg)")
        .img-wrap
          img(src="./assets/img/img03.jpg", alt="")

